.content {
  &__item {
    &-content {
      &__image {
        figure {
          margin: 0;
          .drawings {
            position: relative;
            height: 225px;
            display: flex;
            justify-content: center;
            align-items: center;

            .illustration {
              position: absolute;
              top: 50%;
              left: 50%;
              max-height: 100%;
              max-width: 100%;
              opacity: 0;
              transform: translateX(-50%) translateY(-50%);
              z-index: -10;

              &.show {
                ~ .line-drawing {
                  path {
                    transition: stroke 550ms;
                    stroke: white;
                  }
                }
              }
            }

            .line-drawing {
              height: 225px;

              path {
                fill: none;
                stroke: black;
                stroke-width: 3;
                &.line-round {
                  stroke-linecap: round;
                }
                &.stroke-medium {
                  stroke-width: 2;
                }
                &.stroke-thin {
                  stroke-width: 1;
                }
              }
            }

            .illustration,
            .line-drawing {
              transition: opacity 450ms;
              &.show {
                opacity: 1;
              }
              &.hide {
                opacity: 0;
              }
            }
            svg {
              pointer-events: none;
              &:not(:root) {
                overflow: hidden;
              }
            }
          }

          figcaption {
            max-width: 40em;
            text-align: center;
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 55em) {
  .content {
    &__item {
      &-content {
        &__image {
          figure {
            .drawings {
              height: 600px;
              .line-drawing {
                height: 600px;
              }
            }
          }
        }
      }
    }
  }
}
