.tooltip {
  display: inline;
  position: relative;
  z-index: 999;

  &__item {
    color: #2fa0ec;
    cursor: pointer;
    z-index: 100;
    position: relative;
    display: inline-block;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    padding-right: 10px;

    &__source-number {
      font-size: 10px;
      padding: 0 0 0 4px;
      display: inline-block;
      font-weight: 300;
      margin: -1px 0 0 -3px;
      position: absolute;
    }
  }

  &__content {
    position: absolute;
    z-index: 99;
    width: 360px;
    left: 50%;
    margin-left: -180px;
    bottom: -5px;
    text-align: left;
    background: #2fa0ec;
    opacity: 0;
    font-size: 0.75em;
    line-height: 1.5;
    padding: 1.5em;
    color: #fff;
    border-bottom: 45px solid #2a3035;
    cursor: default;
    pointer-events: none;
    border-radius: 5px;
    transform: translate3d(0, -0.5em, 0);
    transition: opacity 0.3s, transform 0.3s;
    display: none;

    &__text {
      opacity: 0;
      transform: translate3d(0, 1.5em, 0);
      transition: opacity 0.3s, transform 0.3s;

      strong {
        text-transform: capitalize;
        font-style: italic;
        &:after {
          content: '; '
        }
      }

      a {
        padding: 0 0 0 4px;
      }
    }
  }
}

@media screen and (min-width: 55em) {
  .tooltip {
    &:hover {
      .tooltip__item {
        color: #fff;
        transform: translate3d(0, -0.5em, 0);
      }

      .tooltip__content,
      .tooltip__content__text {
        pointer-events: auto;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    &__item {
      padding: 0;
      &__source-number {
        display: none;
      }
    }
    &__content {
      display: block;
    }
  }
}
